{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
    <br />
    <p>
        <a class="btn btn-primary" href="{% url "User:list" %}">Back</a>
    </p>
{% endblock content %}