{% extends "base.html" %}
{% load customtags %}

{% block content %}
    <h2>Details for {{ user.Username }}</h2>
    <table class="table table-bordered table-stripped table-hover">
        <thead>
          <tr>
                <th>Username</th>
                <th>Birthday</th>
                <th>Eligible</th>
                <th>Random Number</th>
                <th>BizzFuzz</th>
                <th></th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.Username }}</td>
                <td>{{ user.Birthday }}</td>
                <td>{% check_eligible user.Birthday %}</td>
                <td>{{ user.Random }}</td>
                <td>{% bizzfuzz user.Random %}</td>
                <td>
                    <a href="{% url "User:edit" user.id %}">Edit</a> |
                    <a href="{% url "User:delete" user.id %}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <a class="btn btn-primary" href="{% url "User:list" %}">Back</a>
    </p>
{% endblock content %}