{% extends "base.html" %}


{% block content %}
    <form method="post">{% csrf_token %}
        <h4>Are you sure you want to delete "{{ user.Username }}"?</h4>
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
    <hr />
    <p>
    	<a class="btn btn-primary" href="{% url "User:list" %}">Back</a>
    </p>
{% endblock content %}
