{% extends "base.html" %}
{% load customtags %}
{% block content %}
    <h2>User Management</h2>

    <div class="btn-group">
        <a class="btn btn-primary" href="{% url "User:new" %}">Add a User</a>
        <a class="btn btn-primary" href="{% url "User:export_users_csv" %}">Export all users</a>
    </div>
    <table class="table table-bordered table-stripped table-hover">
        <thead>
          <tr>
                <th>Username</th>
                <th>Birthday</th>
                <th>Eligible</th>
                <th>Random Number</th>
                <th>BizzFuzz</th>
                <th></th>
          </tr>
        </thead>
        <tbody>
            {% for user in object_list %}
                <tr>
                    <td>{{ user.Username }}</td>
                    <td>{{ user.Birthday }}</td>
                    <td>{% check_eligible user.Birthday %}</td>
                    <td>{{ user.Random }}</td>
                    <td>{% bizzfuzz user.Random %}</td>
                    <td>
                        <a href="{% url "User:detail" user.id %}">Show</a> |
                        <a href="{% url "User:edit" user.id %}">Edit</a> |
                        <a href="{% url "User:delete" user.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}